<!DOCTYPE html>
<html>
<% var deviceID %>
<head>
	<title>Device</title>
	<link rel="shortcut icon" href="images/shortcut.png">
  <link rel="stylesheet" href="css/src/bootstrap.min.css">
	<link rel="stylesheet" href="css/device/skeleton.css">
	<link rel="stylesheet" href="css/device/style.css">
	<link rel="stylesheet" href="css/device/normalize.css">
  <link rel="stylesheet" href="css/header.css">
	<script type="text/javascript" src="js/device/digital.js"></script>
  <script src="js/src/popper.min.js"></script>
  <script src="js/src/jquery-3.3.1.min.js"></script>
  <script src="js/src/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
      <div class="navbar-spacer"></div>
      <nav class="navbar">
        <div class="container">
          <ul class="navbar-list">
            <li class="navbar-item"><a class="navbar-link" href="dashboard">Dashboard</a></li>
            <li class="navbar-item">
              <a class="navbar-link" href="wifi.html">WiFi</a>
            </li>
            <li class="navbar-item"><a class="navbar-link" href="about.html">About</a></li>
            <li class="navbar-item">
              <a class="navbar-link" href="#" data-popover="#moreNavPopover">More</a>
            </li>
            <a href="logout" class="btn btn-info btn-lg pull-right">
              <span class="glyphicon glyphicon-log-out"></span> Log out 
            </a>
            <a href="#" class="btn btn-info btn-lg pull-right">
               <span class="glyphicon glyphicon glyphicon-user"></span>
               <%= username %>
            </a>
          </ul>
        </div>
      </nav>

      <section class="header">
        <h6 class="docs-header">Smart home</h6>
        <div class="row">

        	<div class="offset-by-two four columns value-prop" align="center">
						<h6 class="docs-header">LED</h6>
						<div class="onoffswitch">
							<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="<%= deviceID %>" onclick="led()">
							<label class="onoffswitch-label" for="led-switch">
								<span class="onoffswitch-inner"></span>
								<span class="onoffswitch-switch"></span>
							</label>
						</div>
			</div>
        </section>

      <div class="docs-section" id="intro">
        <h6 class="docs-header" id="status_box"><a href="#">©2018 - Ho Chi Minh City University of Technology</a></h6>
      </div>

    </div>
    
</body>
</html>