#left {min-height: 300px}

#left{
	width: 100%; 
	float: left;
	background-color: #f0f2d0
}

#right{
	width: 70%;
}

/* Draw the box containing the text*/
#boxTitle{
	border: solid 2px;
	text-align: center;
}

#existedFarm{
	border: solid 2px;
	text-align: center;
	border-top: none; /* don't display the top border of the box*/
}

#user {
	text-align: right;
}